In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mlt

#### 1. Load data set using pandas function and print last 5 records.

In [2]:
MDF = pd.read_csv('flight.csv')
MDF.tail(5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
194,2013,1,1,1758,1800,-2,1905,1917,-12.0,B6,1016,N304JB,JFK,BOS,36.0,187,18,0,01-01-2013 18:00
195,2013,1,1,1758,1800,-2,2105,2110,-5.0,B6,989,N663JB,JFK,FLL,152.0,1069,18,0,01-01-2013 18:00
196,2013,1,1,1758,1749,9,2020,1943,37.0,UA,1676,N37274,EWR,ORD,135.0,719,17,49,01-01-2013 17:00
197,2013,1,1,1759,1759,0,1957,1949,8.0,EV,4581,N13566,EWR,CMH,95.0,463,17,59,01-01-2013 17:00
198,2013,1,1,1800,1800,0,1945,1951,-6.0,B6,1111,N294JB,JFK,RDU,78.0,427,18,0,01-01-2013 18:00

#### 2. Print the number of flight from one point to another.

In [5]:
MDF[['origin' , 'dest']].value_counts()

origin  dest
JFK     LAX     6
EWR     MCO     6
LGA     ATL     6
EWR     ORD     5
LGA     ORD     5
               ..
EWR     SEA     1
        SDF     1
        SAT     1
        SAN     1
JFK     DEN     1
Length: 106, dtype: int64

#### 3. Find the best airline in terms of departure.

#### 4. Create new column speed by calculating speed of airplane using distance and time taken to travel..

In [10]:
MDF['Speed'] = MDF['distance'] / MDF['hour']
MDF

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,Speed
0,2013,1,1,1455,1459,-4,1655,1645,10.0,B6,1053,N203JB,JFK,PIT,87.0,340,14,59,01-01-2013 14:00,24.285714
1,2013,1,1,1455,1500,-5,1753,1810,-17.0,DL,1997,N997DL,LGA,PBI,152.0,1035,15,0,01-01-2013 15:00,69.000000
2,2013,1,1,1456,1500,-4,1649,1632,17.0,UA,685,N802UA,LGA,ORD,140.0,733,15,0,01-01-2013 15:00,48.866667
3,2013,1,1,1456,1455,1,1830,1813,17.0,UA,1134,N24212,EWR,AUS,252.0,1504,14,55,01-01-2013 14:00,107.428571
4,2013,1,1,1457,1500,-3,1758,1815,-17.0,UA,379,N401UA,EWR,RSW,166.0,1068,15,0,01-01-2013 15:00,71.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2013,1,1,1758,1800,-2,1905,1917,-12.0,B6,1016,N304JB,JFK,BOS,36.0,187,18,0,01-01-2013 18:00,10.388889
195,2013,1,1,1758,1800,-2,2105,2110,-5.0,B6,989,N663JB,JFK,FLL,152.0,1069,18,0,01-01-2013 18:00,59.388889
196,2013,1,1,1758,1749,9,2020,1943,37.0,UA,1676,N37274,EWR,ORD,135.0,719,17,49,01-01-2013 17:00,42.294118
197,2013,1,1,1759,1759,0,1957,1949,8.0,EV,4581,N13566,EWR,CMH,95.0,463,17,59,01-01-2013 17:00,27.235294
198,2013,1,1,1800,1800,0,1945,1951,-6.0,B6,1111,N294JB,JFK,RDU,78.0,427,18,0,01-01-2013 18:00,23.722222

#### 5. Create a data frame containing total number of flights going to a particular destination.

#### 6. Find the size and shape of data set

In [11]:
print("Shape :" , MDF.shape)
print("size :" , MDF.size)

Shape : (199, 20)
size : 3980

#### 7. Print all the column header of the dataframe.

In [13]:
MDF.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'Speed'],
      dtype='object')

#### 8. Remove all the duplicate values from the data frame

In [16]:
mdf = MDF.drop_duplicates()

#### 9. Count the null values in the database and replace with mean value.

In [17]:
MDF.isnull().sum()

year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         3
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          3
distance          0
hour              0
minute            0
time_hour         0
Speed             0
dtype: int64

In [18]:
MDF['arr_delay'].fillna(MDF['arr_delay'].mean , inplace=True)
MDF['air_time'].fillna(MDF['air_time'].mean , inplace=True)
MDF.isnull().sum()

year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
Speed             0
dtype: int64